extends layout

block content
  h1= title
  p Welcome to #{title}
  div.container(style="padding:15px;")
    div.row
      div.col-xs-8
        div#mapDiv
      div.col-xs-4
        h5 Load Feature Service
        p Enter ArcGIS REST endpoint:
        .form-group
          textarea#inputUrl.form-control(rows="3")
        button#btnAdd.btn.btn-success Add
        button#btnRemove.btn.btn-default Remove
        button#coffee-layer.btn.btn-lg Coffee Layer
        button#lai-layer.btn.btn-lg LAI Layer
        button#metro-layer.btn.btn-lg Metro Layer



  script(src='/javascripts/bootstrap-map-path.js')
  script(src='http://js.arcgis.com/3.9compact')
  script(src='/javascripts/bootstrap-map.js')
  script(src='http://code.jquery.com/jquery-1.10.1.min.js')
  script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
