<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Housr</title>

    <!-- Bootstrap -->

    
    <link rel="stylesheet" href="../bootstrap-3.1.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bootstrap-3.1.1-dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="custom.css">

    <script src="../jquery-1.11.1.min.js"></script>
    <script src="../bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>


  </head>

  <body role="content">

    <!-- Stuff -->
     <!-- <div id="map-canvas" class="col-md-4"></div> -->
     <div class="page-header center">
       <h1>Housr</h1>
     </div>

     <div>
       <div class="input-group">
         <span class="input-group-addon">Crime Rate</span>
         <input type="number" class="form-control" placeholder="Crime Rate">
       </div>
       <div class="input-group">
         <span class="input-group-addon">Community</span>
         <input type="number" class="form-control" placeholder="Community">
       </div>
       <div class="input-group">
         <span class="input-group-addon">Public Transit</span>
         <input type="number" class="form-control" placeholder="Public Transit">
       </div>
       <div class="input-group">
         <span class="input-group-addon">Affordibility</span>
         <input type="number" class="form-control" placeholder="Affordibility">
       </div>
     </div>

  </body>
</html>