extends layout

block content


  // div.container
  //   div.row
  //     div.col-xs-8
  //     div.col-xs-4
  //       h1= title
  //       p Welcome to #{title}
  //       h3 What is important to your life?
  //       div
  //         button#coffee-layer.btn.btn-primary.btn-lg Coffee
  //       div
  //         button#lai-layer.btn.btn-primary.btn-lg Location Affordability
  //       div
  //         button#metro-layer.btn.btn-primary.btn-lg Metro
  div#mapDiv


  script(src='/javascripts/bootstrap-map-path.js')
  script(src='http://js.arcgis.com/3.9compact')
  script(src='/javascripts/bootstrap-map.js')
  script(src='http://code.jquery.com/jquery-1.10.1.min.js')
  script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
