extends layout

block content

  .panel.panel-primary.panel-fixed
    .panel-heading
        h3.panel-title What matters to you?
      .panel-body
        .form-group
          button#coffee-layer.btn.btn.btn-default Coffee
          button#lai-layer.btn.btn.btn-default Location Affordability
          button#metro-layer.btn.btn-default Metro
  div#mapDiv


  script(src='/javascripts/bootstrap-map-path.js')
  script(src='http://js.arcgis.com/3.9compact')
  script(src='/javascripts/bootstrap-map.js')
  script(src='http://code.jquery.com/jquery-1.10.1.min.js')
  script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
