doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

    // Bootstrap
    link(href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", rel="stylesheet", media="screen")

    // ArcGIS
    link(rel="stylesheet", type="text/css", href="http://js.arcgis.com/3.9/js/esri/css/esri.css")
    link(rel="stylesheet", type="text/css", href="http://esri.github.io/bootstrap-map-js/src/css/bootstrapmap.css")

    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    block content
